nav.navbar.navbar-dark.bg-dark.bg-scarlet {
    background-color: #bb0000 !important;
}

canvas#board {
    border: 2px solid black;
    background-image: url('./assets/FootballField.jpg');
}

button.btn-secondary {
    background-color: #666666;
    border-color: #666666;
}