.nav-wrapper {
    background-color: #bb0000;
}

.start-button {
    background-color: #666666 !important;
}

#board {
    background-color: #ffffff;
}

#level {
    float: right;
}

/* This is for testing purposes only */
body {
    background-color: #d3d3d3;
}